body {
  padding-top: 5rem;
  font-family: courier;
  color: rgb(102, 57, 40);


}
.starter-template {
  padding: 0rem 0rem;
  text-align: center;
}

.col-sm {
  text-align: center;
  font-size: 15px;
  color: rgb(102, 57, 40)
}

.btn-primary {
  background-color: rgb(102, 57, 40);
}


.lead {
  font-size: 12px;
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
.card-img {
  display:flex;
  padding: 10px;
  margin: 0 auto;
  border-radius: 500px;
  max-height: 900px;
  max-width: 325px;
}

.socicons-list {
 list-style: none;
 display: flex;
 justify-content: center;
}
.socicons-list li {
 margin: 30px 10px;
}
.socicons-list li a {
 text-decoration: none;
 padding: 30px;
 font-size: 30px;
 border-radius: 50%;
 color: #fff;
 background-color: #f1f1f1;
 transition: all ease-in-out 150ms;
}
.socicons-list li a:hover {
 text-shadow: 0 5px 10px #212121;
}
.socicons-list li:nth-child(1) a {
 background-color: #3e5b98;
}
.socicons-list li:nth-child(2) a {
 background-color: #c13584;
}
.socicons-list li:nth-child(3) a {
 background-color: #4da7de;
}
.socicons-list li:nth-child(4) a {
 background-color: #dd4b39;
}
.socicons-list li:nth-child(5) a {
 background-color: #1769ff;
}
