body {
  padding-top: 5rem;
  font-family: courier;
  color: rgb(102, 57, 40);


}
.starter-template {
  padding: 0rem 0rem;
  text-align: center;
}

.col-sm {
  text-align: center;
  font-size: 15px;
}

.lead {
  font-size: 12px;
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
.card-img {
  display:flex;
  padding: 10px;
  margin: 0 auto;
  border-radius: 500px;
  max-height: 900px;
  max-width: 325px;
}
